html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.auth-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auth-left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.auth-title {
    width: fit-content;
    height: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-weight: bold;
    font-size: 35px;
    margin: 10px 0 5px 30px;
    color: #3359DF;
}

.auth-illustration {
    flex: 1;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.auth-illustration img {
    width: 100%;
    margin: auto;
}

.auth-right {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.auth-right #title {
    font-size: 17px;
    font-weight: bold;
}

.auth-right p {
    margin: 20px 0;
    color: #666666;
    line-height: 1.5em;
    font-size: 17px;
}

.auth-details {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.auth-form {
    width: 100%;
    height: fit-content;
    align-self: center;
}

.auth-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    background: transparent;
    box-sizing: border-box;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    color: #666666;
    background: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    background: transparent;
    
}


#signup-btn {
    width: 100%;
    border: none;
    background: #3359DF;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 12px;
    text-align: center;  
}

#signup-btn:hover {
    background: #1976d2; 
}

#button {
    width: 100%;
    border: none;
    background: #5cb85c;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 12px;
    text-align: center;

}

a {
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: bold;
    color: white;
    font-size: 12px;
}

#button:hover {
    background: #26a69a;
}


.auth-details-footer {
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;
    color: #666666;
}

.auth-details-footer a {
    text-decoration: none;
    color: #3359DF;
    font-weight: bold;
    font-size: large;

}

/* Bank Account Start */



.feed-container {
    width: 100%;
    height: fit-content;
    margin: 0 0 10px 0;
    align-self: center;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    border: 2px solid #e6e6e6; 
    display: grid;
    padding: 20px;
    box-sizing: border-box;
}

.feed-container .meetup-title {
    margin: 10px 20px;
}

.feed {
    width: 97%;
    height: fit-content;
    padding: 0 10px;
    box-sizing: border-box;
    align-self: center
}

.feed .question {
    width: 100%;
    margin-top: 10px;
    align-self: center

}

.feed .question .question-content {
    font-size: 16px;
}

.feed > .question:first-child {
    margin-top: 20px;
}

.feed .question .poster-details .poster-name a {
    text-decoration: none;
    font-weight: bold;
    color: #0077b5
}

.question {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);

}

.questions > .question:first-child {
    margin-top: 20px;
}
.feed .question .question-poster {
    align-items: flex-start;
}


.question-poster {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-poster img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.poster-details {
    display: grid;
    margin-left: 10px;
}

.poster-name {
    font-size: 15px;
}

.poster-time {
    font-size: 12px;
    color: #666666;
}

.question-content {
    line-height: 1.5em;
    color: #555555;
    font-size: 16px;
    margin: 8px 0;
}

.question-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-action {
    display: flex;
    flex-direction: row;
    color: #555555;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.Activate a {
    display: flex;
    flex-direction: row;
    color: #0077b5;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}
.deactivate a {
    display: flex;
    flex-direction: row;
    color: #13c54e;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}
.delete a {
    display: flex;
    flex-direction: row;
    color: #f60000;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}


.question-action > i:first-child {
    margin-right: 5px;
}

.fa-circle {
    font-size: 3px;
    margin: 0 5px;
}

.question-downvote {
    margin-left: 30px;
}

.question-comment {
    margin-left: 30px;
}


/* Bank Account End */

/* Dashboard Start */
.navbar {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: white;
    z-index: 99;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-title {
    width: fit-content;
    height: fit-content;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    color: #3359DF;
}

.menu ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.menu-item {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    margin: 0 10px;
    font-size: 16px;
}

.menu-item:hover {
    color: #3359DF;
}

/* Dashboard End */

/* Footer Start */
.footer {
    height: fit-content;
    padding: 20px;
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer span {
    color: white;
    flex: 1;
}

.footer span a {
    text-decoration: none;
    color: #3359DF;
}

/* Footer End */

@media screen and (max-width: 769px) {

    html {
        overflow-y: auto;
    }
    
    .auth-page {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .auth-left {
        height: fit-content;
        width: 100%;
    }

    .auth-title {
        margin: 10px auto;
        font-size: 30px;
    }

    .auth-illustration {
        display: none;
    }

    .auth-right {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .auth-right #title {
        font-size: 17px;
        align-self: center;
        font-weight: bold;
    }

    .auth-details-footer {
        margin-bottom: 20px;
    }

    .navbar {
        justify-content: center;
        align-items: center;
    }

    .navbar-title {
        margin: 10px auto;
        font-size: 30px;
        
    }

    .menu {
        display: none;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .footer span {
        margin-top: 10px;
    }

    .feed-container {
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }

    .feed-container .meetup-title {
        margin: 20px auto;
    }

    .feed > .question:first-child {
        margin-top: 0;
    }

    .feed .question {
        margin-top: 30px;
    }

    .feed .question .question-poster {
        align-items: flex-start;
    }
    .question {
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }
}




